doctype html
html(lang="en")
    head
      title="d3 sketches"
      link(rel="stylesheet" href="app.css")
    body
      ul
        each link in links
          li: a(href=link.href)= link.name
      script(type="text/javascript" src="dist.js")
